.navbar {
    background: transparent;
    transition: background 1s ease-in-out .2s;
}
.navbar-brand {
    width: auto;
    height: 100px;
}
.scrolled, .navbar:hover{
    background: rgba(248, 249, 250, 1);
    transition: background 1s ease-in-out .2s;

}
.navbar.scrolled .navbar-nav li a{
    color: black !important;
}
.navbar .navbar-nav li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-left: 50px;
    color: white !important;
    transition: color 1s ease-in-out .2s;

}
.navbar:hover .navbar-nav li a{
    color: black !important;
    transition: color 1s ease-in;

} 
.navbar .navbar-nav li a:hover {
    color: red !important;
    transition: color 0s ease-in-out 0s;
}
