.navbar {
    background: transparent;
    transition: background 1s ease-in-out .2s;
}
.navbar-brand {
    width: auto;
    height: 100px;
    animation: 1s ease-out 0s 1 slideInFromLeft;

}
.scrolled, .navbar:hover{
    background: rgba(248, 249, 250, 1);
    transition: background 1s ease-in-out .2s;

}
.navbar.scrolled .navbar-nav li a{
    color: black !important;
}
.navbar .navbar-nav li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-left: 50px;
    color: white !important;
    transition: color 1s ease-in-out .2s;

}
.navbar:hover .navbar-nav li a{
    color: black !important;
    transition: color 1s ease-in;

} 
.navbar .navbar-nav li a:hover {
    color: red !important;
    transition: color 0s ease-in-out 0s;
}

.logo:hover {
    cursor: pointer;
	animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}